data/mnist.pkl
data/mnist.pkl.gz
__pycache__/convert_to_mnist.cpython-311.pyc
__pycache__/data.cpython-311.pyc
__pycache__/mnist_loader.cpython-311.pyc
__pycache__/mynetwork.cpython-311.pyc
__pycache__/network.cpython-311.pyc
__pycache__/preload_network.cpython-311.pyc
reference/README.md
reference/requirements.txt
reference/data/mnist.pkl
reference/data/mnist.pkl.gz
reference/fig/backprop_magnitude_nabla.png
reference/fig/backprop_magnitude_nabla.py
reference/fig/data_1000.json
reference/fig/digits_separate.png
reference/fig/digits.png
reference/fig/false_minima.png
reference/fig/false_minima.py
reference/fig/generate_gradient.py
reference/fig/initial_gradient.json
reference/fig/misleading_gradient_contours.png
reference/fig/misleading_gradient_contours.py
reference/fig/misleading_gradient.png
reference/fig/misleading_gradient.py
reference/fig/mnist_2_and_1.png
reference/fig/mnist_100_digits.png
reference/fig/mnist_complete_zero.png
reference/fig/mnist_first_digit.png
reference/fig/mnist_other_features.png
reference/fig/mnist_really_bad_images.png
reference/fig/mnist_top_left_feature.png
reference/fig/mnist.py
reference/fig/more_data_5.png
reference/fig/more_data_comparison.png
reference/fig/more_data_log.png
reference/fig/more_data_rotated_5.png
reference/fig/more_data_svm.json
reference/fig/more_data.json
reference/fig/more_data.png
reference/fig/more_data.py
reference/fig/multiple_eta.json
reference/fig/multiple_eta.png
reference/fig/multiple_eta.py
reference/fig/norms_during_training_2_layers.json
reference/fig/norms_during_training_3_layers.json
reference/fig/norms_during_training_4_layers.json
reference/fig/overfitting_full.json
reference/fig/overfitting_full.png
reference/fig/overfitting.json
reference/fig/overfitting.py
reference/fig/overfitting1.png
reference/fig/overfitting2.png
reference/fig/overfitting3.png
reference/fig/overfitting4.png
reference/fig/pca_hard_data_fit.png
reference/fig/pca_hard_data.png
reference/fig/pca_limitations.py
reference/fig/regularized_full.json
reference/fig/regularized_full.png
reference/fig/regularized.json
reference/fig/regularized1.png
reference/fig/regularized2.png
reference/fig/serialize_images_to_json.py
reference/fig/test.png
reference/fig/training_speed_2_layers.png
reference/fig/training_speed_3_layers.png
reference/fig/training_speed_4_layers.png
reference/fig/valley.png
reference/fig/valley.py
reference/fig/valley2.png
reference/fig/valley2.py
reference/fig/weight_initialization_30.json
reference/fig/weight_initialization_30.png
reference/fig/weight_initialization_100.json
reference/fig/weight_initialization_100.png
reference/fig/weight_initialization.py
reference/fig/replaced_by_d3/README.md
reference/fig/replaced_by_d3/relu.png
reference/fig/replaced_by_d3/relu.py
reference/fig/replaced_by_d3/sigmoid.png
reference/fig/replaced_by_d3/sigmoid.py
reference/fig/replaced_by_d3/step.png
reference/fig/replaced_by_d3/step.py
reference/fig/replaced_by_d3/tanh.png
reference/fig/replaced_by_d3/tanh.py
reference/src/conv.py
reference/src/expand_mnist.py
reference/src/mnist_average_darkness.py
reference/src/mnist_loader.py
reference/src/mnist_svm.py
reference/src/network.py
reference/src/network2.py
reference/src/network3.py
reference/src/__pycache__/mnist_loader.cpython-311.pyc
reference/src/__pycache__/network.cpython-311.pyc
